*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0 30px;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
section .sec1{
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}
section{
 margin-bottom: 10px;
 padding: 20px;
}
.flex-area{
    display: flex;
    width: 50;
}
.half-width{
    width: 50%;
    text-align: left;
}
.half-width>img{
    width: 60%;
    margin: 30px;
}
.orange{
    color: orangered;
}
.orange1{
    padding-left: 5px;
    border-left: 4px solid orange;
    border-radius: 2px;
}
.button-link{
    background-image: linear-gradient(orange,tomato);
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    
}
.mission{
    text-align: center;
    margin: 20px;
}
#mission{
    background: linear-gradient(#e66465, #9198e5);
}
#dream{
    background: darkorange;
}
#career{
    background-color:tomato;
}
.my{
    box-shadow: 10px 20px 30px whitesmoke;
    border-radius: 40px;
    padding: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.my:hover{ 
        box-shadow: 1px 8px 20px black;
}
.himg:hover{ 
        border-radius: 25px;
        box-shadow: 1px 8px 20px black;
}

p{
    margin: 20px 0;
}
footer{
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    color: white;
    text-align: center;
    padding: 10px 0;
}